@import url(styles/01-header.css);
@import url(styles/02-banner.css);
@import url(styles/03-about.css);
@import url(styles/04-topicos.css);
@import url(styles/05-cards.css);
@import url(styles/06-contato.css);
@import url(styles/07-footer.css);

:root {
    --cor-de-fundo: #26ade4;
    --branco: #ffffff;
    --verde: #d1e751;
    --azul-degrade: linear-gradient(37.54deg, #a7e64f 35.49%, #26ade4 45.37%);
    --verde-degrade: linear-gradient(97.54deg, #024a66 35.49%, #d1e751 125.37%);
    --azul: #4dbce9;
    --preto: #000000;
    --cinza-escuro: #474646;
    --cinza: #858585;
    --font: 'Poppins', sans-serif;
    --font-sec: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
}