.banner {
    background: var(--verde-degrade);
    color: var(--branco);
    text-align: center;
    padding: 5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font);
    color: #045a7c;
}

.banner__texto {
    font-family: var(--font);
    font-weight: 500;
    margin: 1em 0;
    color: #045a7c;
}

@media screen and (min-width:1024px) {
    .banner__titulo {
        font-size: 36px;
    }
    
    .banner__texto {
        font-size: 20px;
    }

    .banner {
        padding: 6em 0;
    }
}


    
    
