.about {
    display: block;
    padding: 25px;
}

.foto-de-perfil {
    width: 50%;
    border-radius: 5%;
    margin-left: 5.2rem;
}

.about__texto {
    font-family: var(--font-sec);
    padding: 5px;
}

@media screen and (min-width:1024px) {
    .apresentacao {
        padding:  2.5% 7.5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 82px;
    }

    .about {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .about__texto {
        font-size: 1.2rem;
    }

    .foto-de-perfil {
        width: 50%;
        border-radius: 5%;
        margin-left: 5.2rem;
    }
}