.apresentacao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about {
    display: block;
    padding: 25px;
}

.foto-de-perfil {
    width: 50%;
    border-radius: 5%;
    margin: 5rem 0 1.5rem;
}

.about__texto {
    font-family: var(--font-sec);
    padding: 5px;
}
.button-cover {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    color: #000;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 15px;
    padding: 10px 18px 11px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.text {
    font-family: var(--font);
}

@media screen and (min-width:1024px) {
    .apresentacao {
        padding:  2.5% 7.5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 82px;
    }

    .about {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .about__texto {
        font-size: 1.2rem;
    }

    .foto-de-perfil {
        width: 35%;
        border-radius: 5%;
        margin-left: 5.2rem;
    }
}

@media screen and (min-width:1928px) {
    .foto-de-perfil {
        width: 30%;
    }
}