.contato {
    background-color: var(--branco);
    padding: 1em;
    font-family: var(--font);
}

.contato__titulo, .contato__texto {
    background: var(--verde-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5em;
}

.botoes__ancora-contato {
    font-family: var(--font);
    background-color: var(--verde);
    padding: 1em 2.2em;
    color: var(--verde-degrade);
    font-weight: 700;
    text-decoration: none;
    margin: 5px 5px;
}

.botoes__ancora-contato:hover {
    color: var(--branco);
    background-color: var(--azul);
}

@media screen and (min-width:1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 15vw;
    }

    .contato__descrição {
        margin-right: 1em;
    }

    .contato__titulo{
        font-size: 24px;
        font-weight: 500;
    }

    .contato__texto {
        width: 70%;
        font-weight: 300;
    }
}

@media screen and (min-width:1728px) {
    .contato {
        padding: 3em 30vw;
    }
}
